@model Project

<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/@Model.ProjectImages.FirstOrDefault(img=>img.IsPrimary==true)?.Url" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5>Name: @Model.Name</h5>
                    <h5>Description: @Model.Description</h5>
                </div>
            </div>
        </div>
    </div>
    <a asp-action="index" asp-controller="project" class="btn btn-success">
        Go back
    </a>
</div>


